.title{
    background-image: url(../src/img/upper_blackbar_edit.png);
    min-width: 1000px;
    background-size:100% 50px;
}
.bg{
    width:100%;
    min-width: 1000px;
}
.logo{
    height:50px;
    vertical-align: top;
}
.map{
    min-width: 1000px;
    width: 80%;
    object-fit: cover;
    display: block;
    top:10%;
    margin:auto;
}


body{
    min-width: 1000px;
    background-image: url(../src/img/background.png);
    background-size:cover;
    overflow: scroll;
}